body {
	margin: 0;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;*/
	font-family: Open Sans;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	display: inline-block;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

.main {
	text-align: center;
}

.intro {
	background: #f2f2f2;
}

.welcome {
	padding: 80px 0;
	width: 1200px;
	margin: 0 auto;
	color: #6e6e6e;
}

.welcome h2 {
	font-size: 42px;
	font-weight: 200;
	margin-bottom: 40px;
}

.welcome p {
	font-weight: 200;
}

.welcome strong {
	color: #000;
}

.welcome a {
	text-decoration: none;
	color: #80ba8d;
}

.link-area {
	padding: 80px 0 88px 0;
	border-top: #dddddd solid 1px;
	width: 1200px;
	margin: 0 auto
}

.link-area li {
	width: 354px;
	margin-right: 64px;
}

.link-area li:last-child {
	margin-right: 0px;
}

.link-area li h3 {
	font-size: 24px;
	color: #d6d6d6;
	font-weight: 200;
	margin: 40px 0;
}

.link-area li h5 {
	font-size: 16px;
	color: #787878;
	font-weight: 200;
	margin-bottom: 40px;
}

.link-area .btn {
	width: 155px;
	margin: 0 auto;
	height: 54px;
	color: white;
	font-size: 16px;
	line-height: 54px;
	font-weight: 200;
	background: #80ba8d;
	border-radius: 5px;
}

.link-area .btn:hover {
	cursor: pointer;
}

.main .content {
	padding: 80px 0;
	width: 1200px;
	margin: 0 auto;
}

.main .content li {
	width: 49%;
}

.main .content li * {
	margin-bottom: 50px;
}

.main .content li .title {
	color: #6c6c6c;
	font-size: 28px;
	font-weight: 200;
}

.main .content li .text {
	padding: 0 20px;
	font-size: 16px;
	font-weight: 200;
	color: #a3a3a3;
}

.main .bottom-area {
	background: url("../images/header.jpg") center no-repeat;
	background-size: cover;
	position: relative;
	padding: 120px 0;
}

.main .bottom-area:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	background: rgba(0,0,0,0.1);
}

.main .bottom-area .text {
	font-style: italic;
	width: 800px;
	margin: 0 auto;
	color: white;
	font-size: 24px;
	font-weight: 200;
}


